body{
    font-family: 'arial';
    background-color: #0e031c;
    color:rgba(255, 0, 17, 0.886);
    margin:0;
 
}

#a{
    background-color:rgb(113, 113, 167);
    margin:0;
    border-radius: 10px;
    display:flex;
}

#b{
    background-color:rgb(226, 170, 170);
    margin:0;
}
#tituloPrincipal{
    color:rgb(21, 39, 67);
    font-size: 40px; 
    font-family:'Times New Roman';
    text-align: center;
}

ul{
    font-size: 28px;
    color: black;
}
ol{
    font-size: 28px;
    color: black;

}
p{
    color: aliceblue;
    font-size: 16px;
    text-align:justify;
    }
#imagem {
    width: 500px;
    margin:auto;
    padding-block:auto;
}



