body{
    font-family: 'arial';
    background-color: #0e031c;
    color:rgba(255, 0, 17, 0.886);
 
}
#a{
    background-color:rgb(113, 113, 167)24, 24, 29);
}

#b{
    background-color:red;
}
#tituloPrincipal{
    color:rgb(21, 39, 67);
    font-size: 40px; 
    font-family:'Times New Roman';
    text-align: center;
}

p{
    color: aliceblue;
    font-size: 16px;
    text-align:justify;
    }
#imagem {
    width: 500px;
    margin:none;
    align: center;
}



