body{
    font-family: 'arial';
    background-color: #0e031c;
    color:rgb(255, 0, 17);
    text-align: center; 
}

#tituloPrincipal{
    color:rgb(21, 39, 67);
    font-size: 40px; 
    font-family:'Times New Roman';
}

p{
    color: aliceblue;
    font-size: 16px;
    text-align:justify;
    }
#imagem {
    width: 500px;
    margin:none;
}



